*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
.start{
  width: 100%;
  height: 100vh;
  background-image: url("https://wallpapercave.com/wp/uQyUoFL.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0,0,0,.6);
  opacity:0.9;
  color:white;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.main{
  
  width:34%;
  height:99vh;
  background-color:black;
  box-shadow:5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius:15px;
  
 
}

h2{
  
  color:white;
  background:transparent;
  background-color:#5c5cd6;
  padding:5px 0 2px 0;

  box-shadow:5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
input{
  text-align:center;
  height:30px;
 margin-left:15px;
 margin-top:10px;
  border:none;
  background:white;
  font-size: 20px;
  font-weight: 500;
  width:65%;
  border:2px solid #5c5cd6;
  outline:none;
  color:black;
  border-radius:13px;
 
}
button{
  position:relative;
  top:2%;
  height:40px;
  width:42px;
  border-radius:50%;
  border-color:transparent;
  background-color:#5c5cd6;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 8px;
padding-top:0px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button:hover{
  background-color:#20bf6b;
}
ol{
  margin-top:30px;
  
}
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color:#5c5cd6;
  text-transform: capitalize;
}
.todo{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo .fa-times{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c5cd6;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.todo .fa-times:hover{
  background-color: crimson;
}
.fa-check{
 
  width: 35px;
 height: 33px;
 background-color:#20bf6b;
 border-radius: 50%;
 color: aliceblue;
 padding-top:3px;
}
.greet{
  position: absolute;
  top:2%;
  left:44.2%;
 font-size:18px;
 font-weight: 500;
 color:white;
 margin-top:1px;
}
.plan{
  position: absolute;
  top:5%;
  left:40%;
 font-size:18px;
 font-weight: 700;
 color:#5c5cd6;
 margin-top:12px;
 
}